$fdatepickDayCellSize: 32px !default;
$fdatepickWidth: 280px !default;
$fdatepickMinBodyHeight: 170px !default;
$fdatepickBorderRadius: 4px !default;
$fdatepickPadding: 4px !default;
$fdatepickZIndex: 100 !default;

$fdatepickFontFamily: Tahoma !default;
$fdatepickFontSize: 14px !default;

$fdatepickYearsPerRow: 4 !default;

$fdatepickTextColor: (
  button: #5cc4ef,
  otherMonth: #dedede,
  otherMonthInRange: #ccc,
  disabled: #aeaeae,
  currentDate: #4EB5E6,
  common: #4a4a4a,
  dayNames: #FF9A19,
  navArrows: #9c9c9c
) !default;

$fdatepickBG: (
  selected: #5cc4ef,
  selectedHover: darken(#5cc4ef, 5),
  inRange: rgba(#5cc4ef, .1),
  hover: #f0f0f0
) !default;

$fdatepickBorderColor: (
  nav: #efefef,
  inline: #d7d7d7,
  default: #dbdbdb
) !default;

$fdatepickNavigationHeight: 32px !default;
$fdatepickNavigationButtonsOffset: 2px !default;

$fdatepickPointerSize: 10px !default;
$fdatepickPointerOffset: 10px !default;

// Transitions
$fdatepickTransitionSpeed: .3s !default;
$fdatepickTransitionEase: ease !default;
$fdatepickTransitionOffset: 8px !default;

// Objects
%otherMonth {
  color: map_get($fdatepickTextColor, otherMonth);

  &:hover {
    color: darken(map_get($fdatepickTextColor, otherMonth), 10);
  }

  &.-disabled- {
    &.-focus- {
      color: map_get($fdatepickTextColor, otherMonth);
    }
  }

  &.-selected- {
    color: #fff;
    background: lighten(map_get($fdatepickBG, selected), 15);
    &.-focus- {
      background: lighten(map_get($fdatepickBG, selected), 10);
    }
  }
  
  &.-in-range- {
    background-color: map_get($fdatepickBG, inRange);
    color: darken(map_get($fdatepickTextColor, otherMonth), 7);

    &.-focus- {
      background-color: rgba(map_get($fdatepickBG, inRange), .2);
    }
  }


  &:empty {
    background: none;
    border: none;
  }
}
