$fdatepickerDayCellSize: 32px !default;
$fdatepickerWidth: 280px !default;
$fdatepickerMinBodyHeight: 170px !default;
$fdatepickerBorderRadius: 4px !default;
$fdatepickerPadding: 4px !default;
$fdatepickerZIndex: 100 !default;

$fdatepickerFontFamily: Tahoma !default;
$fdatepickerFontSize: 14px !default;

$fdatepickerYearsPerRow: 4 !default;

$fdatepickerTextColor: (
  button: #5cc4ef,
  otherMonth: #dedede,
  otherMonthInRange: #ccc,
  disabled: #aeaeae,
  currentDate: #4EB5E6,
  common: #4a4a4a,
  dayNames: #FF9A19,
  navArrows: #9c9c9c
) !default;

$fdatepickerBG: (
  selected: #5cc4ef,
  selectedHover: darken(#5cc4ef, 5),
  inRange: rgba(#5cc4ef, .1),
  hover: #f0f0f0
) !default;

$fdatepickerBorderColor: (
  nav: #efefef,
  inline: #d7d7d7,
  default: #dbdbdb
) !default;

$fdatepickerNavigationHeight: 32px !default;
$fdatepickerNavigationButtonsOffset: 2px !default;

$fdatepickerPointerSize: 10px !default;
$fdatepickerPointerOffset: 10px !default;

// Transitions
$fdatepickerTransitionSpeed: .3s !default;
$fdatepickerTransitionEase: ease !default;
$fdatepickerTransitionOffset: 8px !default;

// Objects
%otherMonth {
  color: map_get($fdatepickerTextColor, otherMonth);

  &:hover {
    color: darken(map_get($fdatepickerTextColor, otherMonth), 10);
  }

  &.-disabled- {
    &.-focus- {
      color: map_get($fdatepickerTextColor, otherMonth);
    }
  }

  &.-selected- {
    color: #fff;
    background: lighten(map_get($fdatepickerBG, selected), 15);
    &.-focus- {
      background: lighten(map_get($fdatepickerBG, selected), 10);
    }
  }
  
  &.-in-range- {
    background-color: map_get($fdatepickerBG, inRange);
    color: darken(map_get($fdatepickerTextColor, otherMonth), 7);

    &.-focus- {
      background-color: rgba(map_get($fdatepickerBG, inRange), .2);
    }
  }


  &:empty {
    background: none;
    border: none;
  }
}
