@import "fdatepick-config";

/* -------------------------------------------------
    fDatepick cells
   ------------------------------------------------- */

.fdatepick--cells {
  display: flex;
  flex-wrap: wrap;
}

.fdatepick--cell {
  border-radius: $fdatepickBorderRadius;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: $fdatepickDayCellSize;
  z-index: 1;

  &.-focus- {
    background: map_get($fdatepickBG, hover);
  }

  &.-current- {
    color: map_get($fdatepickTextColor, currentDate);

    &.-focus- {
      color: map_get($fdatepickTextColor, common);
    }

    &.-in-range- {
      color: map_get($fdatepickTextColor, currentDate);
    }
  }

  &.-in-range- {
    background: map_get($fdatepickBG, inRange);
    color: map_get($fdatepickTextColor, common);
    border-radius: 0;

    &.-focus- {
      background-color: rgba(map_get($fdatepickBG, inRange), .2);
    }
  }

  &.-disabled- {
    cursor: default;
    color: map_get($fdatepickTextColor, disabled);

    &.-focus- {
      color: map_get($fdatepickTextColor, disabled);
    }

    &.-in-range- {
      color: darken(map_get($fdatepickTextColor, disabled), 5);
    }

    &.-current- {
      &.-focus- {
        color: map_get($fdatepickTextColor, disabled);
      }
    }
  }

  &.-range-from- {
    border: 1px solid rgba(map_get($fdatepickBG, selected), .5);
    background-color: map_get($fdatepickBG, inRange);
    border-radius: $fdatepickBorderRadius 0 0 $fdatepickBorderRadius;
  }
  &.-range-to- {
    border: 1px solid rgba(map_get($fdatepickBG, selected), .5);
    background-color: map_get($fdatepickBG, inRange);
    border-radius:  0 $fdatepickBorderRadius $fdatepickBorderRadius 0;
  }

  &.-range-from-.-range-to- {
    border-radius: $fdatepickBorderRadius;

  }

  &.-selected- {
    color: #fff;
    border: none;
    background: map_get($fdatepickBG, selected);

    &.-current- {
      color: #fff;
      background: map_get($fdatepickBG, selected);
    }

    &.-focus- {
      background: map_get($fdatepickBG, selectedHover);
    }
  }

  &:empty {
    cursor: default;
  }
}

//  Day names
// -------------------------------------------------

.fdatepick--days-names {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 3px;
}

.fdatepick--day-name {
  color: map_get($fdatepickTextColor, dayNames);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
}

//  Day cell
// -------------------------------------------------

.fdatepick--cell-day {
  width: (100/7)#{'%'};

  &.-other-month- {
    @extend %otherMonth;
  }
}


//  Months
// -------------------------------------------------

.fdatepick--months {}

.fdatepick--cells-months {
  height: $fdatepickMinBodyHeight;
}

//  Month cell
// -------------------------

.fdatepick--cell-month {
  width: 33.33%;
  height: 25%;
}

//  Years
// -------------------------------------------------

.fdatepick--years {
  height: $fdatepickMinBodyHeight;
}

.fdatepick--cells-years {
  height: $fdatepickMinBodyHeight;
}
//  Year cell
// -------------------------

.fdatepick--cell-year {
  width: 100% / $fdatepickYearsPerRow;
  height: 33.33%;

  &.-other-decade- {
    @extend %otherMonth;
  }
}