@import "fdatepicker-config";

/* -------------------------------------------------
    fDatepicker cells
   ------------------------------------------------- */

.fdatepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.fdatepicker--cell {
  border-radius: $fdatepickerBorderRadius;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: $fdatepickerDayCellSize;
  z-index: 1;

  &.-focus- {
    background: map_get($fdatepickerBG, hover);
  }

  &.-current- {
    color: map_get($fdatepickerTextColor, currentDate);

    &.-focus- {
      color: map_get($fdatepickerTextColor, common);
    }

    &.-in-range- {
      color: map_get($fdatepickerTextColor, currentDate);
    }
  }

  &.-in-range- {
    background: map_get($fdatepickerBG, inRange);
    color: map_get($fdatepickerTextColor, common);
    border-radius: 0;

    &.-focus- {
      background-color: rgba(map_get($fdatepickerBG, inRange), .2);
    }
  }

  &.-disabled- {
    cursor: default;
    color: map_get($fdatepickerTextColor, disabled);

    &.-focus- {
      color: map_get($fdatepickerTextColor, disabled);
    }

    &.-in-range- {
      color: darken(map_get($fdatepickerTextColor, disabled), 5);
    }

    &.-current- {
      &.-focus- {
        color: map_get($fdatepickerTextColor, disabled);
      }
    }
  }

  &.-range-from- {
    border: 1px solid rgba(map_get($fdatepickerBG, selected), .5);
    background-color: map_get($fdatepickerBG, inRange);
    border-radius: $fdatepickerBorderRadius 0 0 $fdatepickerBorderRadius;
  }
  &.-range-to- {
    border: 1px solid rgba(map_get($fdatepickerBG, selected), .5);
    background-color: map_get($fdatepickerBG, inRange);
    border-radius:  0 $fdatepickerBorderRadius $fdatepickerBorderRadius 0;
  }

  &.-range-from-.-range-to- {
    border-radius: $fdatepickerBorderRadius;

  }

  &.-selected- {
    color: #fff;
    border: none;
    background: map_get($fdatepickerBG, selected);

    &.-current- {
      color: #fff;
      background: map_get($fdatepickerBG, selected);
    }

    &.-focus- {
      background: map_get($fdatepickerBG, selectedHover);
    }
  }

  &:empty {
    cursor: default;
  }
}

//  Day names
// -------------------------------------------------

.fdatepicker--days-names {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 3px;
}

.fdatepicker--day-name {
  color: map_get($fdatepickerTextColor, dayNames);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
}

//  Day cell
// -------------------------------------------------

.fdatepicker--cell-day {
  width: (100/7)#{'%'};

  &.-other-month- {
    @extend %otherMonth;
  }
}


//  Months
// -------------------------------------------------

.fdatepicker--months {}

.fdatepicker--cells-months {
  height: $fdatepickerMinBodyHeight;
}

//  Month cell
// -------------------------

.fdatepicker--cell-month {
  width: 33.33%;
  height: 25%;
}

//  Years
// -------------------------------------------------

.fdatepicker--years {
  height: $fdatepickerMinBodyHeight;
}

.fdatepicker--cells-years {
  height: $fdatepickerMinBodyHeight;
}
//  Year cell
// -------------------------

.fdatepicker--cell-year {
  width: 100% / $fdatepickerYearsPerRow;
  height: 33.33%;

  &.-other-decade- {
    @extend %otherMonth;
  }
}