@import "fdatepicker-config";

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.fdatepicker--nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid map_get($fdatepickerBorderColor, nav);
  min-height: $fdatepickerNavigationHeight;
  padding: $fdatepickerPadding;

  .-only-timepicker- & {
    display: none;
  }
}

.fdatepicker--nav-title,
.fdatepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.fdatepicker--nav-action {
  width: $fdatepickerDayCellSize;
  border-radius: $fdatepickerBorderRadius;
  user-select: none;

  &:hover {
    background: map_get($fdatepickerBG, hover);
  }

  &.-disabled- {
    visibility: hidden;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  path {
    fill: none;
    stroke: map_get($fdatepickerTextColor, navArrows);
    stroke-width: 2px;
  }
}

.fdatepicker--nav-title {
  border-radius: $fdatepickerBorderRadius;
  padding: 0 8px;

  i {
    font-style: normal;
    color: map_get($fdatepickerTextColor, navArrows);
    margin-left: 5px;
  }

  &:hover {
    background: map_get($fdatepickerBG, hover);
  }

  &.-disabled- {
    cursor: default;
    background: none;
  }
}

//  Buttons
// -------------------------------------------------

.fdatepicker--buttons {
  display: flex;
  padding: $fdatepickerPadding;
  border-top: 1px solid map_get($fdatepickerBorderColor, nav);
}

.fdatepicker--button {
  color: map_get($fdatepickerTextColor, currentDate);
  cursor: pointer;
  border-radius: $fdatepickerBorderRadius;
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;

  &:hover {
    color: map_get($fdatepickerTextColor, common);
    background: map_get($fdatepickerBG, hover);
  }
}