@import "fdatepick-config";

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.fdatepick--nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid map_get($fdatepickBorderColor, nav);
  min-height: $fdatepickNavigationHeight;
  padding: $fdatepickPadding;

  .-only-timepicker- & {
    display: none;
  }
}

.fdatepick--nav-title,
.fdatepick--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.fdatepick--nav-action {
  width: $fdatepickDayCellSize;
  border-radius: $fdatepickBorderRadius;
  user-select: none;

  &:hover {
    background: map_get($fdatepickBG, hover);
  }

  &.-disabled- {
    visibility: hidden;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  path {
    fill: none;
    stroke: map_get($fdatepickTextColor, navArrows);
    stroke-width: 2px;
  }
}

.fdatepick--nav-title {
  border-radius: $fdatepickBorderRadius;
  padding: 0 8px;

  i {
    font-style: normal;
    color: map_get($fdatepickTextColor, navArrows);
    margin-left: 5px;
  }

  &:hover {
    background: map_get($fdatepickBG, hover);
  }

  &.-disabled- {
    cursor: default;
    background: none;
  }
}

//  Buttons
// -------------------------------------------------

.fdatepick--buttons {
  display: flex;
  padding: $fdatepickPadding;
  border-top: 1px solid map_get($fdatepickBorderColor, nav);
}

.fdatepick--button {
  color: map_get($fdatepickTextColor, currentDate);
  cursor: pointer;
  border-radius: $fdatepickBorderRadius;
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;

  &:hover {
    color: map_get($fdatepickTextColor, common);
    background: map_get($fdatepickBG, hover);
  }
}